.hero_title{
    font-size: 100px;
}
.searchbarcontainer{
    padding: 1rem !important;
}
.searchbar{
    font-size: 2rem !important;
}
.accountwidget{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 15px;
}
.buttonsize{
    height: 100px;
    width:200px;
    border-radius: 20px !important;
}
.textsize{
    font-size: 30px;
    align-items: center;
}
.card-title{
    border: black 2px solid;
    background-color: antiquewhite;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    margin: 30px ;
    width: 100%;
}
.cards{
    border: black 1px solid;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.cardtext{
    font-size: 20px;
    text-align: center;
    padding: 10px;

}
.cardrow{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display:block;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-0.5* var(--bs-gutter-x));
    margin-left: calc(-0.5* var(--bs-gutter-x));

}
