.schedulecontainer {
    width: 45%;
    min-height: 55%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    overflow: auto; /* Allows scrolling if content overflows */
}

.scheduletable {
    width: 100%;
    border-collapse: collapse;
}

.tableheader th {
    background-color: lightgray;
    padding: 10px;
    text-align: left;
}

.scheduletable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.scheduleheader {
    position:absolute;
    left: 5%;
}
.schedule-button {
    display: block; /* Ensures it takes full width available */
    width: fit-content; /* Adjusts width based on content */
    padding: 10px 20px;
    margin-top: 20px; /* Adds spacing from the table */
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    left:50%;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s;
}